.botonLogin {
    background-color: rgb(255, 182, 23);
    color: rgb(72, 33, 113);
    border-color: rgb(72, 33, 113);
  
  }
  
  .botonLogin:hover {
    background-color: rgb(72, 33, 113);
    color: rgb(255, 182, 23);
    border-color: rgb(255, 182, 23);
  }
  
  mat-form-field {
    width: 100% !important;
    height: 70px;
  }
  
  .alto{
    height: 48px;
  }
  
  .form-control-lg{
    font-size:15px!important;
  }

  .textarea.form-control-lg {
    min-height: 30px!important;
}