<div style="overflow-x:auto;" class="p-1">

    <form [formGroup]="searchForm" class="search__form">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="mostrarTabla" #tabla1
        style="background-color:#d1c4fd" matSort>

        <ng-container matColumnDef="id" sticky>

          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline" >
              <input type="text" aria-label="id" matInput formControlName="id"
                (keyup)="applyFilter()" placeholder="Buscar por..." >
            </mat-form-field>
            <p mat-sort-header>id</p>
          </th>
          <td mat-cell *matCellDef="let profesor"> {{profesor.id}} </td>

        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
              <input type="text" aria-label="email" matInput formControlName="email" (keyup)="applyFilter()"
                placeholder="Buscar por...">
            </mat-form-field>
            <p mat-sort-header>Email</p>

          </th>
          <td mat-cell *matCellDef="let profesor"> {{profesor.email}} </td>

        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
              <input type="text" aria-label="name" matInput formControlName="name" (keyup)="applyFilter()"
                placeholder="Buscar por...">
            </mat-form-field>
            <p mat-sort-header>Nombre</p>

          </th>
          <td mat-cell *matCellDef="let profesor"> {{profesor.name}} </td>
        </ng-container>

        <ng-container matColumnDef="horasGuardias">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
              <input type="text" aria-label="horasGuardias" matInput formControlName="horasGuardias" (keyup)="applyFilter()"
                placeholder="Buscar por...">
            </mat-form-field>
            <p mat-sort-header>Horas</p>

          </th>
          <td mat-cell *matCellDef="let profesor"> {{profesor.horasGuardias}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
              <input type="text" aria-label="role" matInput formControlName="role" (keyup)="applyFilter()"
                placeholder="Buscar por...">
            </mat-form-field>
            <p mat-sort-header>Role</p>

          </th>
          <td mat-cell *matCellDef="let profesor" > {{profesor.role}} </td>
        </ng-container>

        <ng-container matColumnDef="validate">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
              <input type="text" aria-label="validate" matInput formControlName="validate" (keyup)="applyFilter()"
                placeholder="Buscar por...">
            </mat-form-field>
            <p mat-sort-header>Validate</p>

          </th>
          <td mat-cell *matCellDef="let profesor"> {{profesor.validate}} </td>
        </ng-container>
  
  
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef>Opciones</th>
          <td mat-cell *matCellDef="let guardia">
            <ul class="list-inline m-0">
              <li class="list-inline-item">
                  <button  class="btn btn-success btn-sm rounded-0" (click)="dialogEditar()" type="button" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></button>
              </li>
              <li class="list-inline-item">
                  <button class="btn btn-danger btn-sm rounded-0"  (click)="dialogEliminar()" type="button" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-trash"></i></button>
              </li>
          </ul>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="columnas; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;" style="background-color:#e7e0ff;"></tr>
      </table>
      <div class="footer">

      </div>
    </form>
  </div>
  <mat-paginator class="paginado mat-elevation-z8 shadow-none fixed" [pageSizeOptions]="[10, 20, 40]"
    style="background-color:#d1c4fd;"></mat-paginator>
