

/* .mat-mdc-table-sticky{
    background-color:#e7e0ff !important;
} */

:host {
    display: flex;
    flex-direction: column;
  }

  mat-accordion {
    flex-grow: 1;

}
.ellipsis{
  white-space: nowrap !important;
  overflow: hidden !important;

}
td , th {
    white-space: nowrap;
    word-wrap: break-word;
    max-width: 150px;
}
::ng-deep .mat-mdc-text-field-wrapper {
    height: 35px !important;
}
::ng-deep .mat-mdc-form-field-flex {
    margin-top: -7px !important;
}

::ng-deep .mat-paginator-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 46px;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
  }

.paginado{
  box-shadow: none !important;
}


.editar{
  background-color:rgb(147, 86, 204);
  color: white;
}

.editar:hover, .editar:focus{
  background-color:white;
  color: rgb(147, 86, 204);
}

.eliminar{
  background-color:rgb(235, 140, 31);
  color: white;
}

.eliminar:hover, .eliminar:focus{
  background-color:white;
  color: rgb(235, 140, 31);
}

