
    <div style="overflow-x:auto;">
    
      <div fxLayout fxLayoutAlign="center center">
        <mat-form-field fxFlex="40%">
          <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filter">
        </mat-form-field>
      </div>
      
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" #tabla1 style="background-color:#e7e0ff" matSort>
          <ng-container matColumnDef="codigo" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
            <td mat-cell *matCellDef="let articulo"> {{articulo.codigo}} </td>
          </ng-container>
      
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
            <td mat-cell *matCellDef="let articulo"> {{articulo.descripcion}} </td>
          </ng-container>
      
          <ng-container matColumnDef="test">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Test </th>
            <td mat-cell *matCellDef="let articulo"> {{articulo.test}} </td>
          </ng-container>

          <ng-container matColumnDef="prueba">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prueba </th>
            <td mat-cell *matCellDef="let articulo"> {{articulo.prueba}} </td>
          </ng-container>

          <ng-container matColumnDef="prueba2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prueba2 </th>
            <td mat-cell *matCellDef="let articulo"> {{articulo.prueba2}} </td>
          </ng-container>

          <ng-container matColumnDef="prueba3">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prueba3 </th>
            <td mat-cell *matCellDef="let articulo"> {{articulo.prueba3}} </td>
          </ng-container>



      
          <tr mat-header-row *matHeaderRowDef="columnas; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: columnas;" style="background-color:#e7e0ff;"></tr>
        </table>
    </div>
    <mat-paginator 
    [pageSizeOptions]="[10, 20, 50]" style="background-color:#e7e0ff"></mat-paginator>


