<div style="overflow-x:auto;" class="p-1">

  <form [formGroup]="searchForm" class="search__form">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="mostrarTabla" #tabla1
      style="background-color:#d1c4fd" matSort>

      <ng-container matColumnDef="idGuardia" sticky>

        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline" >
            <input type="text" aria-label="idGuardia" matInput formControlName="idGuardia"
              (keyup)="applyFilter()" placeholder="Buscar por..." >
          </mat-form-field>
          <p mat-sort-header>idGuardia</p>
        </th>
        <td mat-cell *matCellDef="let guardia"> {{guardia.idGuardia}} </td>

      </ng-container>

      <ng-container matColumnDef="fecha">

        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input matInput
            formControlName="fecha"
            [matDatepicker]="picker"
            (dateInput)="applyFilter()"
            placeholder="Buscar por...">
     <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
     <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <p mat-sort-header>Fecha</p>
        </th>
        <td mat-cell *matCellDef="let guardia"> {{ getDateFormat(guardia) }} </td>

      </ng-container>

      <ng-container matColumnDef="nombreProfesor">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="nombreProfesor" matInput formControlName="nombreProfesor"
              (keyup)="applyFilter()" placeholder="Buscar por..." >
          </mat-form-field>
          <p mat-sort-header>Profesor</p>
        </th>
        <td mat-cell *matCellDef="let guardia"> {{guardia.nombreProfesor}} </td>
      </ng-container>

      <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="curso" matInput formControlName="curso" (keyup)="applyFilter()"
              placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>Curso</p>

        </th>
        <td mat-cell *matCellDef="let guardia"> {{guardia.curso}} </td>

      </ng-container>

      <ng-container matColumnDef="aula">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="aula" matInput formControlName="aula" (keyup)="applyFilter()"
              placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>Aula</p>

        </th>
        <td mat-cell *matCellDef="let guardia"> {{guardia.aula}} </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="descripcion" matInput formControlName="descripcion" (keyup)="applyFilter()"
              placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>Descripción</p>

        </th>
        <td mat-cell *matCellDef="let guardia"> {{guardia.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="dia">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="dia" matInput formControlName="dia" (keyup)="applyFilter()"
              placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>Día</p>

        </th>
        <td mat-cell *matCellDef="let guardia" > {{guardia.dia}} </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="estado" matInput formControlName="estado" (keyup)="applyFilter()"
              placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>Estado</p>

        </th>
        <td mat-cell *matCellDef="let guardia"> {{guardia.estado}} </td>
      </ng-container>

      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef>Opciones</th>
        <td mat-cell *matCellDef="let guardia">
          <ul class="list-inline m-0">
            <li class="list-inline-item">
                <button  class="btn btn-success btn-sm rounded-0" (click)="dialogEditar()" type="button" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-danger btn-sm rounded-0"  (click)="dialogEliminar()" type="button" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-trash"></i></button>
            </li>
        </ul>
        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="columnas; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;" style="background-color:#e7e0ff;"></tr>
    </table>
    <div class="footer">

    </div>
  </form>
</div>
<mat-paginator class="mat-elevation-z8 fixed" [pageSizeOptions]="[10, 20, 40]"
  style="background-color:#d1c4fd;"></mat-paginator>
