<div style="overflow-x:auto;">

  <form [formGroup]="searchForm" class="search__form">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="mostrarTabla" #tabla1
      style="background-color:#d1c4fd" matSort matSortActive="idGuardia" matSortDirection="desc" matSortDisableClear>

      <ng-container matColumnDef="idGuardia" sticky>

        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline" >
            <input type="text" aria-label="idGuardia" matInput formControlName="idGuardia"
              (keyup)="applyFilter()" placeholder="Buscar por..." >
          </mat-form-field>
          <p mat-sort-header>idGuardia</p>
        </th>
        <td mat-cell *matCellDef="let guardia"> {{guardia.idGuardia}} </td>

      </ng-container>

      <ng-container matColumnDef="fecha">

        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input matInput
            formControlName="fecha"
            [matDatepicker]="picker"
            (dateInput)="applyFilter()"
            placeholder="Buscar por...">
     <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
     <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <p mat-sort-header>Fecha</p>
        </th>
        <td mat-cell *matCellDef="let guardia"> {{ getDateFormat(guardia) }} </td>

      </ng-container>

      <ng-container matColumnDef="nombreProfesor">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="nombreProfesor" matInput formControlName="nombreProfesor"
              (keyup)="applyFilter()" placeholder="Buscar por..." >
          </mat-form-field>
          <p mat-sort-header>Profesor</p>
        </th>
        <td mat-cell *matCellDef="let guardia"> {{guardia.nombreProfesor}} </td>
      </ng-container>

      <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="curso" matInput formControlName="curso" (keyup)="applyFilter()"
              placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>Curso</p>

        </th>
        <td mat-cell *matCellDef="let guardia"> {{guardia.curso}} </td>

      </ng-container>

      <ng-container matColumnDef="aula">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="aula" matInput formControlName="aula" (keyup)="applyFilter()"
              placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>Aula</p>

        </th>
        <td mat-cell *matCellDef="let guardia"> {{guardia.aula}} </td>
      </ng-container>

      <ng-container matColumnDef="horaGuardia">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="horaGuardia" matInput formControlName="horaGuardia" (keyup)="applyFilter()"
              placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>Hora de la guardia</p>

        </th>
        <td mat-cell *matCellDef="let guardia"> {{ guardia.horaGuardia }} </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="descripcion" matInput formControlName="descripcion" (keyup)="applyFilter()"
              placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>Descripción</p>

        </th>
        <td mat-cell *matCellDef="let guardia"> {{guardia.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="dia">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="dia" matInput formControlName="dia" (keyup)="applyFilter()"
              placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>Día</p>

        </th>
        <td mat-cell *matCellDef="let guardia" > {{guardia.dia}} </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="estado" matInput formControlName="estado" (keyup)="applyFilter()"
              placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>Estado</p>

        </th>
        <td mat-cell *matCellDef="let guardia"> {{guardia.estado}} </td>
      </ng-container>

      <ng-container matColumnDef="profesorCubierto">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="profesorCubierto" matInput formControlName="profesorCubierto" (keyup)="applyFilter()"
              placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>Profesor cubierto</p>

        </th>
        <td mat-cell *matCellDef="let guardia"> {{guardia.profesorCubierto}} </td>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="tipo" matInput formControlName="tipo" (keyup)="applyFilter()"
              placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>Tipo guardia</p>

        </th>
        <td mat-cell *matCellDef="let guardia"> {{guardia.tipo}} </td>
      </ng-container>

      <ng-container matColumnDef="incidencia">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="incidencia" matInput formControlName="incidencia" (keyup)="applyFilter()"
              placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>Incidencia</p>

        </th>
        <td mat-cell *matCellDef="let guardia"> {{guardia.incidencia == true? "Si" : "No"}} </td>
      </ng-container>

      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef>Opciones</th>
        <td mat-cell *matCellDef="let guardia">
          <ul class="list-inline m-0">
            <li class="list-inline-item">
                <button  class="btn editar btn-sm rounded-1" (click)="dialogEditar(guardia)" type="button" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-eye"></i></button>
            </li>
            <li class="list-inline-item">
              <button class="btn eliminar btn-sm rounded-1"[disabled]="comprobarAdmin()" (click)="dialogEliminar(guardia)" type="button" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-trash"></i></button>
           

            </li>
        </ul>
        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="columnas; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;" style="background-color:#e7e0ff;"></tr>
    </table>
    <div class="footer">

    </div>
  </form>
</div>
<mat-paginator class="mat-elevation-z8 paginado fixed" [pageSizeOptions]="[10, 20, 40]"
  style="background-color:#d1c4fd;"></mat-paginator>



  <div class="modal fade" id="modalDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Confirmación de acción.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        ¿Esta seguro que desea eliminar a este usuario? Sera una acción irreversible
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button  class="btn btn-danger" (click)="eliminarGuardia()"> Eliminar usuario</button>
        </div>
      </div>
    </div>
  </div>