
<div class="container-fluid p-0">


    <nav class="navbar navegador p-0">
      
        <a class="navbar-brand " href="#">
          <img class="ms-5" src="assets/logo-.png" alt="TeacherCover" width="180" height="70">
        </a>
        <div class='dropdown d-none' id="divLog">;
          <button class='btn btn-secondary dropdown-toggle p-0' type='button' id='nombreUser' data-bs-toggle='dropdown' aria-expanded='false'>
          </button>; 
          <ul class='dropdown-menu dropdown-menu-end' aria-labelledby='dropdownMenu2' >
          <li><a class='dropdown-item' (click)="logout()">Desconectarse</a></li>
          </ul>
          </div>
    </nav>