<div class="row justify-content-center mt-4">
    <h4 class="text-center">Esta editando los datos de:  {{ profesor.email}}</h4>
</div>


<div class="row mt-1">
    <form [formGroup]="editTeacherForm" #f="ngForm" (ngSubmit)="updateTeacher()" #localForm="ngForm">
      <h5 class="m-2">Datos del profesor</h5>
      <div class="row m-2 mt-4">
        <div class="form-outline form-white col-12 col-sm-6">
          <label class="form-label" for="nombreProf">Nombre del profesor</label>
          <input type="text" id="nombreProf"  class="form-control form-control-lg" formControlName="nombreProf"
            [class.is-invalid]="localForm.submitted && editTeacherForm.get('nombreProf')?.invalid" />
          <div class="invalid-feedback">
            Nombre del profesor es un campo obligatorio
          </div>
        </div>
        <div class="form-outline form-white col-12 col-sm-6">
          <label class="form-label" for="horasGuardias">Horas de Guardia</label>
          <input type="number" min="0" (change)="changehorasGuardias($event)" id="horasGuardias" class="form-control form-control-lg" formControlName="horasGuardias"
            [class.is-invalid]="localForm.submitted && editTeacherForm.get('horasGuardias')?.invalid" />
          <div class="invalid-feedback">
            horasGuardias es un campo obligatorio
          </div>
        </div>
      </div>
  
      <hr class="hr" />
      <h5 class="m-2">Horario de guardias</h5>
      <div class="row m-2">
        <div class="form-outline form-white col-12 col-sm-4 mt-2">
          <label class="form-label" for="lunesGuardia">Lunes</label><br>
          <select class="form-select" (change)="changeLunesGuardia($event)" formControlName="lunesGuardia"
            [class.is-invalid]="localForm.submitted && editTeacherForm.get('lunesGuardia')?.invalid">
            <option value="" disabled selected>Seleccionar</option>
            <option value="0" selected>No tiene guardia</option>
            <option value="8">Primera hora</option>
            <option value="9">Segunda hora</option>
            <option value="10">Tercera hora</option>
            <option value="11">Recreo</option>
            <option value="12">Cuarta hora</option>
            <option value="13">Quinta hora</option>
            <option value="14">Sexta hora</option>
          </select>
          <div class="invalid-feedback">
            Horario guardia lunes es un campo obligatorio
          </div>
        </div>
  
        <div class="form-outline form-white col-12 col-sm-4 mt-2">
          <label class="form-label" for="martesGuardia">Martes</label><br>
          <select class="form-select" (change)="changeMartesGuardia($event)" formControlName="martesGuardia"
            [class.is-invalid]="localForm.submitted && editTeacherForm.get('martesGuardia')?.invalid">
            <option value="" disabled selected>Seleccionar</option>
            <option value="0" selected>No tiene guardia</option>
            <option value="8">Primera hora</option>
            <option value="9">Segunda hora</option>
            <option value="10">Tercera hora</option>
            <option value="11">Recreo</option>
            <option value="12">Cuarta hora</option>
            <option value="13">Quinta hora</option>
            <option value="14">Sexta hora</option>
          </select>
          <div class="invalid-feedback">
            Horario guardia martes es un campo obligatorio
          </div>
        </div>
  
        <div class="form-outline form-white col-12 col-sm-4 mt-2">
          <label class="form-label" for="miercolesGuardia">Miercoles</label><br>
          <select class="form-select" (change)="changeMiercolesGuardia($event)" formControlName="miercolesGuardia"
            [class.is-invalid]="localForm.submitted && editTeacherForm.get('miercolesGuardia')?.invalid">
            <option value="" disabled selected>Seleccionar</option>
            <option value="0" selected>No tiene guardia</option>
            <option value="8">Primera hora</option>
            <option value="9">Segunda hora</option>
            <option value="10">Tercera hora</option>
            <option value="11">Recreo</option>
            <option value="12">Cuarta hora</option>
            <option value="13">Quinta hora</option>
            <option value="14">Sexta hora</option>
          </select>
          <div class="invalid-feedback">
            Horario guardia miercoles es un campo obligatorio
          </div>
        </div>
  
        <div class="form-outline form-white col-12 col-sm-4 mt-2 mt-sm-3">
          <label class="form-label" for="juevesGuardia">Jueves</label><br>
          <select class="form-select" (change)="changeJuevesGuardia($event)" formControlName="juevesGuardia"
            [class.is-invalid]="localForm.submitted && editTeacherForm.get('juevesGuardia')?.invalid">
            <option value="" disabled selected>Seleccionar</option>
            <option value="0" selected>No tiene guardia</option>
            <option value="8">Primera hora</option>
            <option value="9">Segunda hora</option>
            <option value="10">Tercera hora</option>
            <option value="11">Recreo</option>
            <option value="12">Cuarta hora</option>
            <option value="13">Quinta hora</option>
            <option value="14">Sexta hora</option>
          </select>
          <div class="invalid-feedback">
            Horario guardia jueves es un campo obligatorio
          </div>
        </div>
  
        <div class="form-outline form-white col-12 col-sm-4  mt-2 mt-sm-3">
          <label class="form-label" for="viernesGuardia">Viernes</label><br>
          <select class="form-select" (change)="changeViernesGuardia($event)" formControlName="viernesGuardia"
            [class.is-invalid]="localForm.submitted && editTeacherForm.get('viernesGuardia')?.invalid">
            <option value="" disabled selected>Seleccionar</option>
            <option value="0" selected>No tiene guardia</option>
            <option value="8">Primera hora</option>
            <option value="9">Segunda hora</option>
            <option value="10">Tercera hora</option>
            <option value="11">Recreo</option>
            <option value="12">Cuarta hora</option>
            <option value="13">Quinta hora</option>
            <option value="14">Sexta hora</option>
          </select>
          <div class="invalid-feedback">
            Horario guardia viernes es un campo obligatorio
          </div>
        </div>
  
      </div>
  
      <hr class="hr" />
      <h5 class="m-2">Horario de guardias de apoyo</h5>
      <div class="row m-2">
        <div class="form-outline form-white col-12 col-sm-4 mt-2">
          <label class="form-label" for="lunesGuardiaApoyo">Lunes</label><br>
          <select class="form-select" (change)="changeLunesGuardiaApoyo($event)" formControlName="lunesGuardiaApoyo"
            [class.is-invalid]="localForm.submitted && editTeacherForm.get('lunesGuardiaApoyo')?.invalid">
            <option value="" disabled selected>Seleccionar</option>
            <option value="0" selected>No tiene guardia</option>
            <option value="8">Primera hora</option>
            <option value="9">Segunda hora</option>
            <option value="10">Tercera hora</option>
            <option value="11">Recreo</option>
            <option value="12">Cuarta hora</option>
            <option value="13">Quinta hora</option>
            <option value="14">Sexta hora</option>
          </select>
          <div class="invalid-feedback">
            Horario guardia apoyo lunes es un campo obligatorio
          </div>
        </div>
  
        <div class="form-outline form-white col-12 col-sm-4 mt-2">
          <label class="form-label" for="martesGuardiaApoyo">Martes</label><br>
          <select class="form-select" (change)="changeMartesGuardiaApoyo($event)" formControlName="martesGuardiaApoyo"
            [class.is-invalid]="localForm.submitted && editTeacherForm.get('martesGuardiaApoyo')?.invalid">
            <option value="" disabled selected>Seleccionar</option>
            <option value="0" selected>No tiene guardia</option>
            <option value="8">Primera hora</option>
            <option value="9">Segunda hora</option>
            <option value="10">Tercera hora</option>
            <option value="11">Recreo</option>
            <option value="12">Cuarta hora</option>
            <option value="13">Quinta hora</option>
            <option value="14">Sexta hora</option>
          </select>
          <div class="invalid-feedback">
            Horario guardia apoyo martes es un campo obligatorio
          </div>
        </div>
  
        <div class="form-outline form-white col-12 col-sm-4 mt-2">
          <label class="form-label" for="miercolesGuardiaApoyo">Miercoles</label><br>
          <select class="form-select" (change)="changeMiercolesGuardiaApoyo($event)"
            formControlName="miercolesGuardiaApoyo"
            [class.is-invalid]="localForm.submitted && editTeacherForm.get('miercolesGuardiaApoyo')?.invalid">
            <option value="" disabled selected>Seleccionar</option>
            <option value="0" selected>No tiene guardia</option>
            <option value="8">Primera hora</option>
            <option value="9">Segunda hora</option>
            <option value="10">Tercera hora</option>
            <option value="11">Recreo</option>
            <option value="12">Cuarta hora</option>
            <option value="13">Quinta hora</option>
            <option value="14">Sexta hora</option>
          </select>
          <div class="invalid-feedback">
            Horario guardia apoyo miercoles es un campo obligatorio
          </div>
        </div>
  
        <div class="form-outline form-white col-12 col-sm-4 mt-2 mt-sm-3">
          <label class="form-label" for="juevesGuardiaApoyo">Jueves</label><br>
          <select class="form-select" (change)="changeJuevesGuardiaApoyo($event)" formControlName="juevesGuardiaApoyo"
            [class.is-invalid]="localForm.submitted && editTeacherForm.get('juevesGuardiaApoyo')?.invalid">
            <option value="" disabled selected>Seleccionar</option>
            <option value="0" selected>No tiene guardia</option>
            <option value="8">Primera hora</option>
            <option value="9">Segunda hora</option>
            <option value="10">Tercera hora</option>
            <option value="11">Recreo</option>
            <option value="12">Cuarta hora</option>
            <option value="13">Quinta hora</option>
            <option value="14">Sexta hora</option>
          </select>
          <div class="invalid-feedback">
            Horario guardia apoyo jueves es un campo obligatorio
          </div>
        </div>
  
        <div class="form-outline form-white col-12 col-sm-4  mt-2 mt-sm-3">
          <label class="form-label" for="viernesGuardiaApoyo">Viernes</label><br>
          <select class="form-select" (change)="changeViernesGuardiaApoyo($event)" formControlName="viernesGuardiaApoyo"
            [class.is-invalid]="localForm.submitted && editTeacherForm.get('viernesGuardiaApoyo')?.invalid">
            <option value="" disabled selected>Seleccionar</option>
            <option value="0" selected>No tiene guardia</option>
            <option value="8">Primera hora</option>
            <option value="9">Segunda hora</option>
            <option value="10">Tercera hora</option>
            <option value="11">Recreo</option>
            <option value="12">Cuarta hora</option>
            <option value="13">Quinta hora</option>
            <option value="14">Sexta hora</option>
          </select>
          <div class="invalid-feedback">
            Horario guardia apoyo viernes es un campo obligatorio
          </div>
        </div>
  
      </div>
  
      <div class="text-center mt-4">
        <div class="row justify-content-around p-2">
            <button class="btn col-4 col-lg-2 botonCancelar btn-lg px-2 text-center" [routerLink]="['../../historialProfesores']">Cancelar</button>
            <button class="btn col-6 col-lg-3 botonLogin btn-lg px-2 text-center" type="submit"> Actualizar datos</button>
        </div>
        
      </div>
  
    </form>
  </div>