.date {
    width: 17%;
  }
  @media (max-width: 750px) {
    .date {
        width: 18%;
      }
  }

  @media (max-width: 550px) {
    .date {
        width: 20%;
      }
  }

  
  .title {
    background-color: rgb(13, 124, 209);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px 0;
    text-align: center;
    margin-top:20px;
  }
  
  .item {
    padding: 10px 5px;
    background-color: rgb(235, 234, 234);
    font-size: 11px;
    margin: 3px 0;
    border: solid thin;
    border-color: rgb(13, 124, 209)
  }
  
  .selected {
    background-color: lightblue;
    border-radius: 5px;
    border: 1px solid rgb(91, 91, 248);
  }
  