
  <div class="row">
    <div class=" col-12 justify-content-start col-md-3 p-1 d-flex justify-content-md-center align-items-center">
      Horas de guardia <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="lightblue " class="bi bi-circle-fill border border-1 border-dark rounded-circle ms-1" viewBox="0 0 20 20">
        <circle cx="10" cy="10" r="10"/>
      </svg>
    </div>
    <div class="col-12 col-md-3 justify-content-start p-1 d-flex justify-content-md-center align-items-center">
      Horas de guardia de apoyo <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="khaki " class="bi bi-circle-fill border border-1 border-dark rounded-circle ms-1" viewBox="0 0 20 20">
        <circle cx="10" cy="10" r="10"/>
      </svg>
    </div>
    <div class="col-12 col-md-3 justify-content-start  p-1 d-flex justify-content-md-center align-items-center">
     Hora actual <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="orange" class="bi bi-circle-fill border border-1 border-dark rounded-circle ms-1" viewBox="0 0 20 20">
      <circle cx="10" cy="10" r="10"/>
    </svg>
  </div>

  </div>

  <div class="row">
    <div *ngFor="let date of datesInWeek" fxLayout="column" class="date col-6 col-md-4">
      <div class="title" style="font-size:14px"> {{getDateFormat(date)}}</div>
      <div class="item" *ngFor="let hour of hours; let indexHour = index" fxLayout [ngStyle]="existsMeeting(indexHour + 8)">

        <div class="col-12 text-center ms-1">
            <p class="m-0" style="font-size:16px">{{hour}}</p>
            <p class="m-0" style="font-size:13px;">{{getMeeting( indexHour + 8 )}}</p>

        </div>
      </div>
    </div>

    <!-- Meter comprobacion de tipo ngIf -->
    <div *ngIf="botonFichar" class=" col-6 col-md-8  d-flex align-items-center justify-content-center">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <p>Haga click en el botón para visualizar las guardias disponibles:</p>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <button type="button " (click)="seleccionarGuardia()" class="btn botonGuardias">Entrar al listado de guardias</button>
        </div>

      </div>

    </div>
  </div>




