

<div class="fondo p-0 d-flex justify-content-center">

  <div class="col-10 col-md-8 col-lg-6 col-xl-4 mt-5">
    <div class="card fondoLogin mt-3 border border-secondary border-2" style="border-radius: 1rem;">
      <div class="card-body p-3 text-center">


        <div class="pb-1"  *ngIf="!changepassword">
          <h1 class="fw-bold mb-2" style="color: rgb(255, 182, 23)">Teacher<span style="color: rgba(72, 33, 113, 0.912)" >Cover</span></h1>
          <p class="text-black-50 mb-5">Introduzca sus datos!</p> 
         
          <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" #localForm="ngForm">
            <div class="form-outline form-white m-4 me-5 ms-5 mt-0">
              <label class="form-label" for="emailLogin">Correo electronico</label>
              <input type="email" id="emailLogin" class="form-control form-control-lg" formControlName="emailLogin" [class.is-invalid]="localForm.submitted && formLogin.get('name')?.invalid" />
              <div class="invalid-feedback">
                Correo electronico es un campo obligatorio
              </div>
            </div>
            <div class="form-outline form-white m-4 mt-0 me-5 ms-5">
              <label class="form-label" for="passwordLogin">Password</label>
              <input type="password" id="passwordLogin" class="form-control form-control-lg" formControlName="password" [class.is-invalid]="localForm.submitted && formLogin.get('password')?.invalid" />
              <div class="invalid-feedback">
                Password es un campo obligatorio
              </div>
            </div>

            <button class="btn botonLogin btn-lg px-5" type="submit" > Login</button>
            <p id="mensajeErrorLogin" class="mt-3" style="color:red;"></p>
            <a class="text-muted" href="#" [routerLink]="['./recover-password']">¿Has olvidado tu contraseña?</a>
          </form>
        </div>






        <div class="pb-1"  *ngIf="changepassword">
          <h1 class="fw-bold mb-2" style="color: rgb(255, 182, 23)">Teacher<span style="color: rgba(72, 33, 113, 0.912)" >Cover</span></h1>
          <p class="m-0 p-0" style="color:black">Bienvenido  {{ nombreProfesor }}!</p> 
          <p class="mb-3 mt-2 ms-3 me-3" style="color:black">Al ser la primera vez que entra con su cuenta, por favor introduzca su nueva contraseña
             que sera la que utilizara en adelante</p> 
         
          <form [formGroup]="formNewUser" (ngSubmit)="onNewUser()" #localForm="ngForm">
            <div class="form-outline form-white m-4 me-5 ms-5 mt-0">
              <label class="form-label" for="newPassword">Nueva Password</label>
              <input type="password" id="newPassword" class="form-control form-control-lg" formControlName="newPassword" [class.is-invalid]="localForm.submitted && formNewUser.get('newPassword')?.invalid" />
              <div class="invalid-feedback">
                Nueva password es un campo obligatorio
              </div>
            </div>
            <div class="form-outline form-white m-4 mt-0 me-5 ms-5">
              <label class="form-label" for="repeatPassword">Repetir Password</label>
              <input type="password" id="repeatPassword" class="form-control form-control-lg" formControlName="repeatPassword" [class.is-invalid]="localForm.submitted && formNewUser.get('repeatPassword')?.invalid" />
              <div class="invalid-feedback">
                Repetir password es un campo obligatorio
              </div>
            </div>

            <button class="btn botonLogin btn-lg px-5" type="submit" > Login</button>
            <p id="mensajeErrorNewUser" class="mt-3" style="color:red;"></p>
          </form>
        </div>
    


      </div>
    </div>
  </div>
</div>
