<app-header></app-header>


<div class="fondo p-0 d-flex justify-content-center">

  <div class="col-10 col-md-8 col-lg-6 col-xl-4 mt-5">
    <div class="card fondoLogin mt-3 border border-secondary border-2" style="border-radius: 1rem;">
      <div class="card-body p-3 text-center">
        <div class="pb-1">
          <h2 class="fw-bold mb-2" style="color: rgb(255, 182, 23)">Teacher<span style="color: rgba(72, 33, 113, 0.912)" >Cover</span></h2>
          <p class="text-black-50 mb-5">Introduzca sus datos!</p> 
         
          <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" #localForm="ngForm">
            <div class="form-outline form-white m-4 me-5 ms-5 mt-0">
              <label class="form-label" for="nameLogin">Nombre</label>
              <input type="text" id="nameLogin" class="form-control form-control-lg" formControlName="name" [class.is-invalid]="localForm.submitted && formLogin.get('name')?.invalid" />
              <div class="invalid-feedback">
                Nombre es un campo obligatorio
              </div>
            </div>
            <div class="form-outline form-white m-4 mt-0 me-5 ms-5">
              <label class="form-label" for="passwordLogin">Password</label>
              <input type="password" id="passwordLogin" class="form-control form-control-lg" formControlName="password" [class.is-invalid]="localForm.submitted && formLogin.get('password')?.invalid" />
              <div class="invalid-feedback">
                Password es un campo obligatorio
              </div>
            </div>

            <button class="btn botonLogin btn-lg px-5" type="submit" > Login</button>
            <p id="mensajeErrorLogin" class="mt-3" style="color:red;"></p>
            <p class="mt-3"><a href="#">¿Has olvidado tu contraseña?</a></p>
          </form>
        </div>
        



</div>