
    <div class="row p-1" style="min-height: 500px;">

        <div class="col-4 "  *ngFor="let guardia of datos">
          <div class="card border shadow p-2 colorMorado">
            <div class="card-block">
              <h4 class="card-title ">Estado de la guardia: <span [ngStyle]="estiloEstado(guardia)">{{ calcularEstado(guardia)}}</span></h4>
              <h6 class="card-subtitle text-muted">Número de guardia: {{guardia.idGuardia}}</h6>
              <p class="card-text p-y-1">Profesor a cubrir: {{guardia.profesorCubierto}}</p>
              <a href="#" class="card-link">link</a>
              <a href="#" class="card-link">Second link</a>
            </div>
          </div>
        </div>
  
     
    </div>