
<div class="px-3 pt-2 row">
  Selección de guardia para el día {{diaA }} siendo {{tipoGuardia == "guardia"? "profesor de guardia" : "profesor de apoyo"}}
</div>
    <div class="row p-1" *ngIf="!noHayGuardias" style="min-height: 500px;">

        <div class="col-12 col-sm-6 col-md-4 mt-3 "  *ngFor="let guardia of datos">
          <div class="card border shadow p-2 colorMorado">
            <div class="card-block">
              <h4 class="card-title ">Estado de la guardia: <span [ngStyle]="estiloEstado(guardia)">{{ calcularEstado(guardia)}}</span></h4>
              <h6 class="card-subtitle text-muted">Número de guardia: {{guardia.idGuardia}}</h6>
              <p class="card-text p-y-1">Profesor a cubrir: <span class="fw-bold">{{guardia.profesorCubierto}}</span></p>
              <div class="row">
                <div class="col-12">Aula: <span class="fw-bold">{{guardia.aula}}</span></div>
                <div class="col-12">Curso: <span class="fw-bold">{{guardia.curso}}</span></div>
                <div class="col-12 mt-2">Informacíon adicional:<br> <span class="fw-bold">{{guardia.descripcion}}</span></div>

              </div>
              <hr class="">
              <button class="btn botonGuardia" [disabled]="comprobarGuardiaBoton(guardia)" (click)="modalSeleccionar(guardia)">Seleccionar guardia</button>
              <div class="col-12 mt-3" *ngIf="seleccionada(guardia)">Guardia seleccionada por: <span class="fw-bold">{{guardia.nombreProfesor}}</span> | Tipo : <span class="fw-bold">{{guardia.tipo}}</span></div>

            </div>
          </div>
        </div>


      </div>
      <div class="d-flex align-items-center justify-content-center" *ngIf="noHayGuardias"  style="min-height: 500px">
        <div class="text-center">
          <div class="col-12 pe-0 justify-content-center">
            <h5 style="font-weight:400;color:rgb(241, 137, 17); font-size:45px; font-weight: bolder;">No hay guardias que realizar</h5>
          </div>

        </div>
    </div>





  <div class="modal fade" id="seleccionarGuardia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content colorcito">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Confirmación de guardia.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Al confirmar la guardia se le asignará a su perfil
        </div>
        <div class="modal-footer">
          <button type="button" class="btn editar" data-bs-dismiss="modal">Cancelar</button>
          <button  class="btn eliminar" (click)="hacerGuardia()"> Realizar</button>
        </div>
      </div>
    </div>
  </div>
