
<div class="dividor d-none d-lg-block"></div>
<div class="container-fluid p-0 mb-3" >

    <div class="row p-0 m-0">

        <div class="d-none d-lg-block flex-shrink-0 p-3 colorcito col-2 bordes" style="min-height: 800px;">
            <p class="d-flex align-items-center pb-3 mb-3 mt-3 text-decoration-none border-bottom">
              <img class="bi me-2" width="30" height="24" src="favicon.ico"/>
              <span class="fs-5 fw-semibold">Menu</span>
            </p>
            <ul class="list-unstyled ps-0">
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                  Home
                </button>
                <div class="collapse" id="home-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" [routerLink]="['./calendario']" class="link-dark rounded">Día actual</a></li>
                    <li><a href="#" [routerLink]="['./historial']" class="link-dark rounded">Historial</a></li>
                    <li><a href="#" [routerLink]="['./calendarioSemanal']" class="link-dark rounded">Calendario semanal</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                  Proximamente...
                </button>
                <div class="collapse" id="dashboard-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Proximamente...</a></li>
                    <li><a href="#" class="link-dark rounded">Proximamente...</a></li>
                    <li><a href="#" class="link-dark rounded">Proximamente...</a></li>
                    <li><a href="#" class="link-dark rounded">Proximamente...</a></li>
                  </ul>
                </div>
              </li>
             <!-- OPCIONES DEL ADMINISTRADOR -->
              <li class="mb-1" *ngIf="rolAdmin">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                  Admin
                </button>
                <div class="collapse" id="account-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" [routerLink]="['./crearProfesor']" class="link-dark rounded">Crear profesor</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>





          <div class="bg-light col-12 d-lg-none">
          <div class="row colorcito mt-0 mb-3 justify-content-between">
            <div class="col-2 p-0">
              <p class="d-flex align-items-center mb-2 mt-2 text-decoration-none border-bottom">
                <img class="bi me-2" width="30" height="24" src="favicon.ico"/>
                <span class="fs-5 fw-semibold">Menu</span>
              </p>
            </div>

            <div class="col-3 text-center p-0">
              <button class="btn btn-toggle align-items-center rounded collapsed mt-2 p-0 p-0 pt-1" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                Home
              </button>
              <div class="collapse" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" [routerLink]="['./calendario']" class="link-dark rounded">Día actual</a></li>
                  <li><a href="#" [routerLink]="['./historial']" class="link-dark rounded">Historial</a></li>
                  <li><a href="#" [routerLink]="['./calendarioSemanal']" class="link-dark rounded">Calendario semanal</a></li>
                </ul>
              </div>

            </div>
            <div class="col-3 text-center p-0">
              <button class="btn btn-toggle align-items-center rounded collapsed mt-2 p-0 pt-1" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
                Proximamente...
              </button>
              <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-dark rounded">Proximamente...</a></li>
                  <li><a href="#" class="link-dark rounded">Proximamente...</a></li>
                  <li><a href="#" class="link-dark rounded">Proximamente...</a></li>
                  <li><a href="#" class="link-dark rounded">Proximamente...</a></li>
                </ul>
              </div>
              
            </div>


            <!-- OPCIONES DEL ADMINISTRADOR -->
            <div class="col-3 text-center p-0" *ngIf="rolAdmin" >
              
           
                   <button class="btn btn-toggle align-items-center rounded collapsed mt-2 p-0 pt-1" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="true">
                     Admin
                   </button>
                   <div class="collapse" id="account-collapse">
                     <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                       <li><a href="#" [routerLink]="['./crearProfesor']" class="link-dark rounded">Crear Profesor</a></li>
                     </ul>
                   </div>

              
            </div>      
          </div>
          </div>





















          <div class="col-12 col-lg-10 ">
            <div class="row colorcito mt-0  p-2 m-0 m-lg-2 rounded-datos">
                   <h5 class="border border-2 border-dark border-top-0 border-end-0 border-start-0">Panel de informacion de : {{ nombreUsuario }}</h5>
                    <table class="table">
                        <thead>
                          <tr class="text-center">
                            <th class="col-2">Rol</th>
                            <th class="col-2">Guardias Realizadas</th>
                            <th class="col-2">------</th>
                            <th class="col-2">Notificaciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="text-center">
                            <th>{{ rol }}</th>
                            <td>{{ horasGuardias }} horas</td>
                            <td>------</td>
                            <td>Ninguna</td>
                          </tr>
                        </tbody>
                      </table>
            </div>


            <div class="row colorcito mt-4 p-0 m-0 m-lg-2 p-lg-2 rounded-datos mb-0">
              <router-outlet ></router-outlet>
         </div>



          </div>
    </div>

</div>