<div class="dividor d-none d-lg-block" style="background-color: #e7fdff;"></div>
<div class="container-fluid p-0 ">

  <div class="row p-0 m-0 mb-3">

    <div class="shadow d-none d-lg-block flex-shrink-0 p-3 colorcito col-2 bordes">
      <p class="d-flex align-items-center pb-3 mb-3 mt-3 text-decoration-none border-bottom">
        <img class="bi me-2" width="30" height="24" src="favicon.ico" />
        <span class="fs-5 fw-semibold">Menú</span>
      </p>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">

          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" [routerLink]="['./calendario']" class="link-dark rounded">Día actual</a></li>
            <li><a href="#" [routerLink]="['./historial']" class="link-dark rounded">Historial</a></li>
            <li><a href="#" [routerLink]="['./calendarioSemanal']" class="link-dark rounded">Calendario semanal</a>
            </li>
          </ul>

        </li>

        <!-- OPCIONES DEL ADMINISTRADOR -->
        <li class="mb-1" *ngIf="rolAdmin">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#account-collapse" aria-expanded="false">
            Admin
          </button>
          <div class="collapse" id="account-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" [routerLink]="['./crearProfesor']" class="link-dark rounded">Crear profesor</a></li>
              <li><a href="#" [routerLink]="['./crearGuardia']" class="link-dark rounded">Crear Guardia</a></li>
              <li><a href="#" [routerLink]="['./historialProfesores']" class="link-dark rounded">Historial
                  Profesores</a></li>
              <li><a href="#" [routerLink]="['./listarIncidencias']" class="link-dark rounded">Incidencias</a></li>

            </ul>
          </div>
        </li>
      </ul>
    </div>





    <div class="bg-light col-12 d-lg-none">
      <div class="row  colorcito mt-0 mb-3 justify-content-start justify-content-md-between">
        <div class="col-2 p-0">
          <p class=" d-flex align-items-center mb-2 mt-2 text-decoration-none">
            <img class="bi me-2" width="30" height="24" src="favicon.ico" />
            <span class="fs-5 fw-semibold">Menú</span>
          </p>
        </div>

        <div class="col-4 text-center p-0">
          <button class="btn btn-toggle align-items-center rounded collapsed mt-2 p-0 p-0 pt-1"
            data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
            Inicio
          </button>
          <div class="collapse" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" [routerLink]="['./calendario']" class="link-dark rounded">Día actual</a></li>
              <li><a href="#" [routerLink]="['./historial']" class="link-dark rounded">Historial</a></li>
              <li><a href="#" [routerLink]="['./calendarioSemanal']" class="link-dark rounded">Calendario semanal</a>
              </li>
            </ul>
          </div>

        </div>



        <!-- OPCIONES DEL ADMINISTRADOR -->
        <div class="col-4 text-center p-0 me-5" *ngIf="rolAdmin">

          <button class="btn btn-toggle align-items-center rounded collapsed mt-2 p-0 pt-1" data-bs-toggle="collapse"
            data-bs-target="#account-collapse" aria-expanded="true">
            Admin
          </button>
          <div class="collapse" id="account-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" [routerLink]="['./crearProfesor']" class="link-dark rounded">Crear Profesor</a></li>
              <li><a href="#" [routerLink]="['./crearGuardia']" class="link-dark rounded">Crear Guardia</a></li>
              <li><a href="#" [routerLink]="['./historialProfesores']" class="link-dark rounded">Historial
                  Profesores</a></li>
              <li><a href="#" [routerLink]="['./listarIncidencias']" class="link-dark rounded">Incidencias</a></li>
            </ul>
          </div>


        </div>
      </div>
    </div>






    <div class="col-12 col-lg-10 ">
      <div class="row" *ngIf="!mostrarDatos">
        <div class="col">
          <div class="row float-end ">
            <button class="flecha shadow border border-bottom rounded-datos2 colorcito" (click)="showDatos()">
              <!-- <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                  </svg> -->
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z" />
              </svg>

            </button>

          </div>

        </div>
      </div>
      <div *ngIf="mostrarDatos" class="row shadow colorcito mt-0 p-2 m-0 m-lg-2 rounded-datos">
        <div class="row justify-content-around pe-0">
          <div class="col-11 pe-0 border border-2 border-secondary border-top-0 border-end-0 border-start-0">
            <h5 class="" style="font-weight:400;">Panel de informacion de : <span
                style="color:rgb(241, 137, 17); font-size:x-large; font-weight: bolder;">{{ nombreUsuario }}</span></h5>
          </div>
          <div class="col-1 ps-0 pe-0 border border-2 border-secondary border-top-0 border-end-0 border-start-0">
            <button type="button" class="p-1 btn-close float-end border border-2  btn-danger  rounded-circle"
              style="background-color:rgba(147, 63, 236, 0.671);border-color:rgb(134, 33, 241)!important"
              (click)="hideDatos()" aria-label="Close"></button>
          </div>
        </div>
        <table class="table" style="border:none">
          <thead>
            <tr class="text-center">
              <th class="col-2">Rol</th>
              <th class="col-2">Guardias Realizadas</th>
              <th class="col-2">Notificaciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <th>{{ rol }}</th>
              <td>{{ horasGuardias }} horas</td>
              <td>Ninguna</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="dividor mt-3" style="background-color: #e7fdff;"></div>

      <div class="row shadow colorcito mt-8 p-1 m-0 m-lg-2 p-lg-2 rounded-datos mb-0">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
  <div class="dividor d-none d-lg-block" style="background-color: #e7fdff;"></div>

</div>
