/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import 'ngx-toastr/toastr';
html,body {
    height: 100% !important;
	margin: 0;
  }
:host {
    height: 100%
}
.toast-container .ngx-toastr {
    width:300px !important;
    }
@media(min-width:800px){
    .toast-container .ngx-toastr {
    width:400px !important;
    }
}

