.botonCrear {
  background-color: rgb(255, 182, 23);
  color: rgb(72, 33, 113);
  border-color: rgb(72, 33, 113);

}

.botonCrear:hover {
  background-color: rgb(72, 33, 113);
  color: rgb(255, 182, 23);
  border-color: rgb(255, 182, 23);
}

mat-form-field {
  width: 100% !important;
  height: 70px;
}
.mensajeError{
  margin-top:-1.5em;
  font-size:.875em;
  color:#dc3545;;
}
.alto{
  height: 48px;
}

p {
  font-family: Lato;
}

.example-form-field {
  width: 300px;
}

.example-input {
  background: #e3dada;
  height: 50px;
}

