<div style="overflow-x:auto;">

  <form [formGroup]="searchForm" class="search__form">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="mostrarTabla" #tabla1
      style="background-color:#d1c4fd" matSort matSortActive="idIncidencia" matSortDirection="desc" matSortDisableClear>

      <ng-container matColumnDef="idIncidencia" sticky>

        <th mat-header-cell *matHeaderCellDef style="max-width: 110px!important; padding:10px" >
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="idIncidencia" matInput formControlName="idIncidencia" (keyup)="applyFilter()"
              placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>id Incidencia</p>
        </th>
        <td mat-cell *matCellDef="let guardia; let i = index ">{{ i+1 }}</td>

      </ng-container>

      <ng-container matColumnDef="idGuardia">
        <th mat-header-cell *matHeaderCellDef style="max-width: 110px!important; padding:10px">
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="idGuardia" matInput formControlName="idGuardia" (keyup)="applyFilter()"
              placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>id Guardia</p>
        </th>
        <td mat-cell *matCellDef="let guardia"> {{guardia.idGuardia}} </td>

      </ng-container>
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef style="max-width: 140px!important; padding: 10px;">
          <mat-form-field class="search__form_field mt-2" style="width:100%; height: 40px;" appearance="outline">
            <input type="text" aria-label="fecha" matInput formControlName="fecha" (keyup)="applyFilter()"
              placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>Fecha</p>

        </th>
        <td mat-cell *matCellDef="let guardia" style="max-width: 140px!important;"> {{guardia.fecha}} </td>

      </ng-container>

      <ng-container matColumnDef="nombreProfesor">
        <th mat-header-cell *matHeaderCellDef style="max-width: 140px!important; padding: 10px;">
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="nombreProfesor" matInput formControlName="nombreProfesor"
              (keyup)="applyFilter()" placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>Profesor de Guardia</p>

        </th>
        <td mat-cell *matCellDef="let guardia" style="max-width: 140px!important;"> {{guardia.nombreProfesor}} </td>
      </ng-container>

      <ng-container matColumnDef="profesorCubierto">
        <th mat-header-cell *matHeaderCellDef style="max-width: 140px!important; padding: 10px;">
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="profesorCubierto" matInput formControlName="profesorCubierto"
              (keyup)="applyFilter()" placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>Profesor a cubrir</p>

        </th>
        <td mat-cell *matCellDef="let guardia" style="max-width: 140px!important;"> {{guardia.profesorCubierto}} </td>
      </ng-container>


      <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef style="max-width: 140px!important; padding: 10px;">
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="curso" matInput formControlName="curso" (keyup)="applyFilter()"
              placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>Curso</p>

        </th>
        <td mat-cell *matCellDef="let guardia" style="max-width: 140px!important;"> {{guardia.curso}} </td>

      </ng-container>

      <ng-container matColumnDef="aula">
        <th mat-header-cell *matHeaderCellDef style="max-width: 140px!important; padding: 10px;">
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="aula" matInput formControlName="aula" (keyup)="applyFilter()"
              placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>Aula</p>

        </th>
        <td mat-cell *matCellDef="let guardia" style="max-width: 140px!important;"> {{guardia.aula}} </td>
      </ng-container>

      <ng-container matColumnDef="horaGuardia">
        <th mat-header-cell *matHeaderCellDef style="max-width: 140px!important; padding: 10px;">
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px;" appearance="outline">
            <input type="text" aria-label="horaGuardia" matInput formControlName="horaGuardia" (keyup)="applyFilter()"
              placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header>Hora</p>

        </th>
        <td mat-cell *matCellDef="let guardia" style="max-width: 140px!important;"> {{guardia.horaGuardia}} </td>
      </ng-container>

      <ng-container matColumnDef="incidenciaTexto">
        <th mat-header-cell *matHeaderCellDef style="max-width: 500px!important; padding: 10px;">
          <mat-form-field class="search__form_field mt-2" style="width: 100%;height: 40px!important;" appearance="outline">
            <input type="text" aria-label="incidenciaTexto" matInput formControlName="incidenciaTexto"
              (keyup)="applyFilter()" placeholder="Buscar por...">
          </mat-form-field>
          <p mat-sort-header class="mt-1">Descripción</p>

        </th>
        <td mat-cell *matCellDef="let guardia" style="max-width: 500px!important; padding: 10px;"> {{guardia.incidenciaTexto}} </td>
      </ng-container>

      <ng-container matColumnDef="leerMas">
        <th mat-header-cell *matHeaderCellDef>Leer más</th>
        <td mat-cell *matCellDef="let guardia">
          <ul class="list-inline m-0">
            <li class="list-inline-item">
                <button  class="btn editar btn-sm rounded-1" (click)="leerMas(guardia.incidenciaTexto)" type="button" data-toggle="tooltip" data-placement="top" title="Leer más"><i class="fa fa-plus-circle"></i></button>
            </li>
        </ul>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="columnas; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas" style="background-color:#e7e0ff;"></tr>
    </table>
    <div class="footer">





    </div>
  </form>

     <!-- modal para mostrar el texto de la incidencia -->
    <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="miModalLabel">Incidencia</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>
            <div class="modal-body" style="max-height: 300px; overflow-y: auto;">
              {{incidenciaTexto}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn eliminar" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<mat-paginator class="paginado mat-elevation-z8 shadow-none fixed" [pageSizeOptions]="[10, 20, 40]"
  style="background-color:#d1c4fd;"></mat-paginator>


